<%= form_tag(recipes_path, method: :get, remote: :true) do %>
  <div class="input-group">
    <%= text_field_tag 'query', "", class: 'form-control',  placeholder: "Search for..." %>
    <span class="input-group-btn">
      <%= submit_tag 'Search', class: "btn btn-custom" %>
    </span>
  </div>
<% end %>